/* Colors:
#231123 - Dark Purple - Background
#9ed8db - Powder Blue - Details 
#db504a - Cedar chest - Buttons effects
#ffffff - white - texts


Fonts:
BioRhyme - Tittle : 'BioRhyme', serif;
OpenSans - Subtitle : 'Open Sans', sans-serif;

*/

h1,h2,h3,ul li{
    font-family: 'BioRhyme', serif;
    color: #ffffff;
}
li a{
    font-weight: 200;
}
p,h4,h5{
    color: #ffffff;
}
h4{
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 0px;
}
h5{
    margin-top: 0px;
    font-weight: 300;
    font-style: italic;
    font-size: 13px;
}
nav{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 5;
    width: 100%;
}

ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}


nav ul li{
    margin: 0 1%;
    padding: 0;
    letter-spacing: 1px;
}

nav ul{
    margin: 0 auto;
    text-align: right;
    padding: 10px;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #ffffff;

}

a:hover {
    font-weight: 700;
  }



body{    
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #231123;

}

header{
    top: 10em;
    position: relative;
    margin: auto;
    text-align: center;
    margin-bottom: 30em;

}



img{

max-width: 30%;

}

.about-text{
    padding-top: 100px;
    max-width: 35%;
    margin: auto;
    font-size: 20px;
}

.icon{
    fill: #ffffff;
    width: 35px;
    height: auto;
}

section{
    margin-top: 5em;
    margin-bottom: 20em;
    text-align: center;
}

.rrss li{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}


footer{
    
   margin-bottom: 0px;
   background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* copy to clipboard */
.mail-text {
    font-size: 20px;
}

[tooltip]{
position: relative;
}

[tooltip]::before {
content: "";
position: absolute;
top: -6px;
left: 50%;
transform: translateX(-50%);
border-width: 4px 6px 0 6px;
border-style: solid;
border-color: #fff transparent transparent transparent;
z-index: 100;
opacity: 0;
transition: all 250ms ease;
}

[tooltip]::after {
content: attr(tooltip);
position: absolute;
left: 50%;
top: -6px;
transform: translateX(-50%) translateY(-100%);
background: #fff;
text-align: center;
color: #9ed8db;
padding: 4px 8px;
font-size: 14px;
min-width: 80px;
border-radius: 4px;
pointer-events: none;
opacity: 0;
transition: all 250ms ease;
}

[tooltip-position ='bottom']::before {
top: 100%;
margin-top: 36px;
transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='bottom']::after {
top: 100%;
margin-top: 36px;
transform: translateX(-50%) translateY(0);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
opacity: 1;
}

/* Medium screens */
@media screen and (max-width: 600px){

    h2{
        font-size: 20px;
    }

    header{
        top:10em;
        margin-bottom: 20em;
    }

    img{

        max-width: 70%;
        
        }

    .about-text{
            max-width: 70%;
            margin: auto;
            font-size: 15px;
        }

        section{
            margin-top: 5em;
            margin-bottom: 10em;
            text-align: center;
        }

        .icon{
           
            width: 30px;
            height: auto;
        }
}