

:root{
  --dark-color: #121212;
  --light-color: #E7E7E7;
  --main-melon: #FFAC9A;
  --light-melon: #ffad9a1c;
  --secondary-delft: #353A5A;
  --light-delft: #353a5a1c;
  --gray-opacity: #121212a1;
  --gradient-melon: linear-gradient(180deg, rgba(255,172,154,0.2) 0%, rgba(255,172,154,0) 100%);
  --gradient-delft:linear-gradient(180deg, rgba(53,58,90,0.1) 0%, rgba(53,58,90,0) 100%);


}


*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body{
 height: 100%;
}

body{
  font-family: "Lato", sans-serif;
  font-style: normal;
 overflow-x: hidden;
 background: var(--dark-color);
}

header, main{
  position: relative;
}

p,a{
  color: var(--light-color);
}

a{
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--main-melon);
  
}

i{
  color: var(--main-melon);
}

.arrows {
  fill: var(--main-melon);
}


.hidden{
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(20px);
}

.show{
  opacity: 1;
  transform: translateY(0px);
  
}

/* HEADER -----------------------------------------------------------*/

header{ 
  margin: 0px 120px 0px 120px;
  width: 100%;
  
}


#header-background{
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0; left: 0;
  background: var(--gradient-melon);
  z-index: 1;
}

.header-container{
  position: fixed;
  top: 37px;
  z-index: 12;
}

#menu-button svg{
  fill: var(--main-melon);
}


.logo-header svg{
  position: fixed;
  fill: var(--main-melon);
  margin-top: -20px;
  width: 80px;
  height: auto;
  z-index: 12;
  cursor: pointer;
}

#nav-bar {
  position: fixed;
  top: 37px;
  right: 0;
  transform: translate(-50%, -50%);
  display: flex;
  column-gap: 60px;
  align-items: center;
  justify-content: center;
  z-index: 12;
}

#nav-dropdown{
  display: none;
   
}
nav a {
  padding-right: 45px;
}



#nav-bar a:hover {
  text-decoration:underline;
  color: var(--main-melon);
  transition: all 0.3s ease;
}



.nav-link {
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* HEADER */


/* MAIN -----------------------------------------------------------*/

main{
  flex: 1;
  width: 100%;
  height: auto;
  top: 15%;
  margin-bottom: 60px;
}

#home{
  margin-bottom: 15%;
}


#landing {
  margin: 0 120px;
  position: relative;
}

#illus-headline{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


#landing{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-short{
  font-size: 2em;
  text-align: center;
  width: 60%;
}

.main-arrow{
  margin-top: 2em;
}

.main-text-link{
  font-size: 40px;
 
}
.main-text-link h2{
  margin-bottom: 2em;
}

#selected-work{
  margin: 64px 120px 0 120px;
  text-align: center;
  
}
/* work gallery*/

.selected-gallery{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 24px;
  margin-top: 64px;
  margin-bottom: 64px;
}



/*links*/
#portfolio-link{
  display: flex;
  gap: 12px;
  margin-bottom: 96px;
  align-items: center;
}


.link-left{
  flex-direction: row-reverse;
  
 
}

.link-right{
  
  position: relative;
  left: 120px;
  
}

  .arrow-down{
    transform: rotate(90deg);

    
  }


/*gallery work */

.project-image{
  height: 476px;
  background: var(--light-melon);
  border-radius: 25px;
}
.img-single{
  grid-column: span 2;
}

.text-work{
  position: relative;
  background: var(--gray-opacity);
  width: inherit;
  height: inherit;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}

.overlay{
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-image:hover .overlay{
  opacity: 1;
}

.text-work h2{
  font-size: 40px;
  color: var(--light-color);
}

/*onlyauth*/
#onlyauth{
  
  background-image: url('../img/onlyauth/onlyauth_landing.png');
  background-size:cover;
  background-position: center;
}

/*skinwise*/
#skinwise{
  
  background-image: url('../img/skinwise/skinwise_0.png');
  background-size:cover;
  background-position: center;
}

/*dco*/
#dco{
  
  background-image: url('../img/dco/dco_home.png');
  background-size:cover;
  background-position: center;
}


/*cocobites*/
#cocobites{
  
  background-image: url('../img/cocobites/coco_home.png');
  background-size:cover;
  background-position: center;
}


/*contact*/
#contact{
  position: relative;
  margin-top: 64px;
}

.email-container{
  height: 100px;
  width: 100%;
  border-top: 2px solid var(--main-melon);
  border-bottom: 2px solid var(--main-melon);
  text-align: center;
  margin: auto;
}

.email-container:hover{
  border-top: none;
  border-bottom: none;
  background: var(--light-melon);
  transition: 0.3s ease;

}

.email-container:hover h3{
  
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  transition: 0.3s ease;
}

.email-address{
  display: inline-block;
  height: 100%;
  line-height: 100px;
}
/* MAIN */

/* FOOTER -----------------------------------------------------------*/

/*rrss icons*/
footer{
  position: relative;
  background: var(--light-melon);
  bottom: 0;
  height: 100px;
  width: 100%;
  margin-top: 120px;
}
.footer-container{
  
    margin: 0 120 0 120;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
     height: 100%;
  line-height: 100px;
    
}

.footer-rrss{
  width: 180px;
  display: flex;
  justify-content: space-between;
}

#dev-icon svg{
  fill: var(--main-melon);
}

.icon-social {
  fill: var(--main-melon);
  width: 30px;
  height: 30px;
}

.icon-social:hover{
  fill: var(--light-color);
  transition: fill 0.4s ease;
}

/* FOOTER */

/* keyframes */



/* RESPONSIVE ---------------------------------------------------------*/

/* mobile */

@media screen and (max-width: 600px) {

  header{ 
    margin: 0px 24px 0px 24px;
  }

  #landing, #selected-work {
    margin: 0 24px;
   
  }
.logo-header{
  position: fixed;
  top: 0;
  margin-top: 40px;
  cursor: pointer;
  z-index: 12;
  
}
.logo-header svg{
  width: 50px;
  height: auto;
  
}

#menu-button{
  display: block;
  position: fixed;
  top: 20px;
  right: 24px;
  z-index: 12;
}

#nav-dropdown{
  display: none;
  position: fixed;
  top:0;
  right: 0rem;
  width: 100%;
  height: 100vh;
  background: #121212e1;
  backdrop-filter: blur(15px);
  z-index: 10;
  
  
}



.navBar-mobile-es{
  visibility: hidden;
}
#nav-bar-dropdown {
  text-align: center;
  display: block;
  margin-top: 15rem;
 
  
}



#nav-bar-dropdown a {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}




#menu-button svg{

  width: 30px;
  height: auto;
  left: 0;
  cursor: pointer;
}

#nav-bar{
  visibility: hidden;
}




.bio-short{
  font-size: 1.4em;
  text-align: center;
  width: 80%;
}

.main-arrow {
  height: 100px;
  width: auto;
  
}

.selected-gallery{
 
  grid-gap: 12px;
  
}

.single-mobile{
  grid-column: span 2;
}

.project-image{
  height: 200px;

}

.overlay{
  opacity: 1;
}

.main-text-link{
  font-size: 30px;
 
}
.text-work h2{
  font-size: 30px;
  color: var(--light-color);
}

.link-right{
  left: 24px;
}

.arrows{
  width: 20px;
  height: auto;
}

.footer-container{
  transform: translate(3%, 0%);
}


#dev-icon svg{
  width: 25px;
  height: auto;
}

.email-container{
  border-top: none;
  border-bottom: none;
  background: var(--light-melon);
  transition: 0.3s ease;

}

.email-container h3{
  
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  transition: 0.3s ease;
}

.email-container:hover{

  transition: none;

}

.email-container:hover h3{
  
  font-size: 20px;

  transition: none;
}


.footer-rrss{
  width: 100px;
  
}

#footer-main-text p{
  font-size: 7px;
}
.icon-social {
  
  width: 20px;
  height: 20px;
}

}


/* tablet */

@media screen and (min-width: 600px) and (max-width: 1000px) {

  #landing, #selected-work {
    margin: 0 70px;
   
  }

  header{ 
    margin: 0px 70px 0px 70px;
  }

  .logo-header svg{
    width: 65px;
    height: auto;
  }

  #nav-bar {
    top: 35px;
    right: 0;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 20px;
    align-items: end;
    justify-content: center;
  }

  .text-work h2{
    font-size: 30px;
    color: var(--light-color);
  }

  .project-image{
    height: 200px;
  
  }
  
  .overlay{
    opacity: 1;
  }
  .link-right{
    left:70px;
  }

  .selected-gallery{
 
    grid-gap: 18px;
    
  }

  #dev-icon svg{
    width: 30px;
    height: auto;
  }

  .email-container{
    border-top: none;
    border-bottom: none;
    background: var(--light-melon);
    transition: 0.3s ease;
  
  }
  
  .email-container h3{
    
    font-size: 23px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    transition: 0.3s ease;
  }
  
  .email-container:hover{
  
    transition: none;
  
  }
  
  .email-container:hover h3{
    
    font-size: 23px;
  
    transition: none;
  }
  

  .footer-rrss{
    width: 100px;
    
  }

 

  #footer-main-text p{
    font-size: 10px;
  }
  .icon-social {
    
    width: 20px;
    height: 20px;
  }
}