

:root{
    --main-color: #f67875;
    --secundary-color: #526769;
    --clear-color: #CDD3D4;
    --gradient-color:linear-gradient(135deg, rgba(246,120,117,1) 0%,rgba(106,139,127,1)   50%);
}

@font-face {
    font-family: AfterglowRegular;
    font-style: normal;
    font-weight: normal;
    src: url("../files/afterglow/Afterglow-Regular.woff");
}


.header{
    width: 100%;
    padding: 0 8px;
}
.header h3{
    padding-left: 5vh;
    padding-top: 10vh;

 
}

a{
 text-decoration: none;
}

img{
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.img-last{
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.header a:hover{
    color:var(--main-color) ;
     }
    
.header img{
    width: 100%;
    height: auto;
}

.col-md-4{
    text-align: right;
  }

  .text-cases{
    margin-top: 50px;
    text-align: left;
  }

  .text-cases h2{
    color: var(--main-color);
  }
  
  .text-cases .col{
    padding-left: 50px;
    padding-right: 10vh;
  }
 
 .two-img{
    margin: auto;
    text-align: center;
 }

  .two-img img{
    text-align: center;
    width: 100%;

  }

  .text-description{
    margin-top: 1rem;
  }

  .img-people{
    width: 50%;
    margin-top: 0;
  }

.people{
  margin-top: 10vh;
}

.one-img{
  text-align: center;
}


.img-single-b{
  width: 80%;
  height: auto;
}

.img-90{
  width: 95%;
}

.single-img{
  width: 70%;
  height: auto;
}

  .tools{
    text-align: right;
    padding: 0 5vh;
    margin-bottom: 5vh;
  }

  .tools h2{
    color: var(--main-color);
    font-size: 2rem;
  }

  .tools ul{
    display: inline-flex;
    list-style: none;
    margin-bottom: 0px;
    
  }
  
  .tools ul li{
    text-align: right;
    padding-left: 15px;
  }
  
  
  .tools ul li svg{
    fill: var(--clear-color);
    width: 35px;
    height: auto;
  }


  .tools p svg path{
    fill: var(--clear-color);
    
  }
  .tools p svg path:hover{
    fill: var(--main-color);
    transition: all 0.3s ease;
  }

  

  /* Medium screens */
@media screen and (max-width: 600px){
  
  .back{
    text-align: right;
  }
  .col-md-4{
        text-align: center;
        padding: 0;
      }
    
      .col-md-4 h2{
        margin-top: 0px;
      }

      .text-cases .col{
        padding: 0 2vw;
        margin: 0;
        text-align: center;
      }

      .two-img{
        display: block;
      }

      .tools h2{
        font-size: 1.3rem;
      }
    
      .tools ul li svg{
        width: 20px;
        height: auto;
      }
}