
/* Colors:
#0e1018- Background
#f67875
#6a8b7f
#526769
#CDD3D4

font-family: 'Poppins', sans-serif;
*/


*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body{
 height: 100%;
}

body{
 background: #0e1018;
 overflow-x: hidden;
}

:root{
    --main-color: #f67875;
    --secundary-color: #526769;
    --clear-color: #CDD3D4;
    --gradient-color:linear-gradient(135deg, rgba(246,120,117,1) 0%,rgba(106,139,127,1)   50%);
}

@font-face {
    font-family: AfterglowRegular;
    font-style: normal;
    font-weight: normal;
    src: url("../files/afterglow/Afterglow-Regular.woff");
}
 

.links{
    position: absolute;
    text-align: right;
    right: 0;
    display: inline;
    z-index: 1;
    
}

.links a{
  color: var(--clear-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  padding: 0 5vw;
}

.links a:hover{
  text-decoration: underline;
  color: var(--main-color);
  transition: all 0.3s ease;
}


h1{
  font-family: 'AfterglowRegular', serif;
  font-size: 2.5rem;
  line-height:90%;
  color: var(--main-color);
}

h2{
    font-family: 'AfterglowRegular', serif;
    font-size: 2.5rem;
    line-height: 90%;
    padding: 1rem 0rem;
    color: var(--secundary-color);
   
}

a, ul, li{
    color: var(--clear-color);
}

ul{
  list-style: none;
  color: #0e1018;
 
}

h3,
p{
    font-family: 'Poppins', sans-serif;
    color: var(--clear-color);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
}

nav svg{
    cursor: pointer;
    height: 2rem;
    width: auto;
    z-index: 10;
}

.logo{
    display: flex;
    align-items: center;
}

.logo svg{
    fill: var(--clear-color);
    height: 1.4rem;
    width: auto;
}

.logo svg:hover{
  fill: var(--main-color);
  transition: all 0.3s ease;
}

.burger:hover{
  stroke: var(--main-color);
  transition: all 0.3s ease;
}

section{
    margin: 0;
    padding: 0 8px;
    margin-bottom: 10vh;
}

.front-page{
    min-height: 100vh;
   
}


.presentation{
    margin: 20vh 5vw 0 ;
    text-align: center;
}

.presentation h2{
    font-size: 8rem;
    letter-spacing: 0.3rem;
    padding: 1rem 1rem;

    background-color: rgb(106,139,127);
    background-image: var(--gradient-color);
    background-size: 100%;
    background-repeat: repeat;
    background-clip:var(--main-color);

 /* Use the text as a mask for the background. */
 /* This will show the gradient as a text color rather than element bg. */
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

.presentation p{
    font-size: 1.3rem;
    padding: 1rem 10rem;
}

.cases-page{
    margin: 0;
}

.cases-page h2{
  color: var(--main-color);
}
.right{
    margin-bottom: 10px;
  }
  
  .left{
    margin-bottom: 10px;
    text-align: right;
  }

.text-work{
    margin-top: 40vh;
  }
  
  .text-work p{
    color: var(--clear-color);
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .text-work h3{
    margin-bottom: 0px;
    margin-top: 5px;
  }

  
  .mobile-only{
    display: none;
  }

  /* text overlay animation*/

  .overlay {
    opacity: 0;
    transition: opacity 0.3s ease ;
  }

  .row:hover .overlay{
    opacity: 1;
  }
  /**/

  /* show animation*/

  .contact{
    margin: 0 auto;
    padding: 20% 0;
    text-align: center;
  }

  .contact h1{
    font-size: 4rem;
    margin-bottom: 10vh;
  }

.hidden{
  opacity: 0;
  transition: all 1s;
  transform: translateY(20px);
}

.show{
  opacity: 1;
  transform: translateY(0px);
}

/*end oh show animation*/

button{
  
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  color: var(--clear-color);
  font-size: 16px;
  padding: 10px 25px;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  color: #0e1018;
  background-color:var(--main-color);
  transition: 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
}

footer{
 display: flex;
  width: 100%;
  height: 40vh;
  background: var(--clear-color);
  color: #0e1018;
  padding: 10vh 5vw;

}

.container{
  margin: auto;
}

footer h3{
  color: #0e1018;
  margin-bottom: 1rem;
}

.row-footer{
  display: flex;
  flex-wrap: wrap;
}

.footer-col{
  width: 50%;
  padding: 0 5vw;
}

.footer-col p{
  color: #0e1018;
}
.poem{
  text-align: left;
}
.poem p{
  line-height: 100%;
}

.autor{
  font-size: 0.7rem;
}

.footer-col{
  margin: auto;
}


.footer-links li{

  display: inline;
}

.footer-links a{
  color: #0e1018;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 0 3%;
}

.footer-links a:hover{
 color: var(--main-color);
 transition: all 0.3s ease;
}


.icon-social{
 
  height: 2rem;
  width: auto;
  
}

.icon-social:hover{
 fill: var(--main-color);
 text-decoration: none;
 transition: all 0.3s ease;

}

.more_work{
  font-family: 'Poppins', sans-serif;
  
  padding: 0 2rem;

}

.more_work a{
  color: var(--secundary-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.more_work a:hover{
 
  text-decoration: underline;
  transition: all 0.3s ease;
}

/* Medium screens */
@media screen and (max-width: 600px){

  body{
    padding: 0;
    margin: 0;
    width: 100vw;
  }


  h2{
    font-size: 1.5rem;
  }
 
  .links a{
    font-size: 0.6rem;
    text-decoration: none;
    padding: 0 1vw;
  }

  .front-page{
    min-height:fit-content;
   
}
.presentation{
  margin: 10vh 0 ;
}


  .presentation h2{
    font-size: 4rem;
    padding-top: 5vh;
  }

  .presentation p{
    font-size: 1rem;
    padding: 1rem 1rem;
  }

  section{
    margin: 0;
    padding: 0 1vw;
    margin-bottom: 3vh;
    text-align: center;
  }

  img{
    width: 100vw;
    height: auto;
  }

  .desktop-only{
    display: none;
  }
  .mobile-only{
    display: block;
  }

  .right{
    margin-bottom: 2vh; 
    text-align: left;
  }
  
  .left{
    margin-bottom: 2vh;
    text-align: left;
  }
  
  .text-work{
    margin-top: 0vh;
    margin-bottom: 5vh;
    text-align: left;
  }

  

}

.quick-links{
  text-align: left;
}

.social{
  text-align: left;
}

.container{
  width: 100vw;
  display: block;
}

footer{
 
   width: 100%;
   height: 20vh;
   padding: 5vh 2vw;
 
 }


.footer-col{
  width: 100%;
  padding: 0 2vw;
}



.footer-link a{
  display: block;
  padding: 3vh 0;
}

.icon-social{
 
  height: 1rem;
  width: auto;
  
}




@media (prefers-reduced-motion) {

.hidden{
  transition: none;
}
  
}