---
import Layout from "../layouts/Layout.astro"
import cardBottom from "../../public/card-bottom.svg"
import cardTop from "../../public/17-star.svg"
---

<Layout title="Contact page">

<div class=" relative flex flex-col min-h-screen  -top-24 md:-top-24 gap-12  overflow-hidden">
<div class="md:absolute "><h2 class="font-Alice text-6xl tracking-wider text-left leading-normal md:text-28xl text-accent mx-6 md:mx-0  md:text-darkaccent md:animate-pulse md:leading-none ">Cooperative <br/> Adaptative <br /> Creative</h2></div>
    
<div class="mx-6 lg:mx-52 relative flex md:flex-row flex-col items-center gap-12 ">
    <div class="relative md:w-1/2 flex flex-col gap-4">

        <h2 class=" text-main-melon text-4xl md:text-5xl font-Alice">About me</h2>
      
        <p class="md:absolute text-xl top-24 leading-snug">Born in Bolivia, currently living in Barcelona. <br/> I am a Visual web designer with a strong passion for composition, social media ads, illustration, UX/UI, and motion graphics. Professional, detail-oriented, responsible, enthusiastic, and perfectionist.<br/><br/>
            I have extensive experience in creating marketing projects, newsletters, and social media campaign ads. With a thorough understanding of the Adobe Suite, HTML5/CSS, Tailwind, Astro, Figma and excellent composition skills.</p>
        
    </div>
    <div class=" relative md:w-1/2 items-center justify-center my-6">
        <div class="relative h-80 w-80  flex justify-center md:top-48 md:left-32" >
        
            <div id="topCard" class="w-48 md:w-52 absolute z-20 -rotate-7deg  origin-bottom-left md:right-10" style="top: 14px; right:-30px;">
               <img src={cardTop.src} alt="">
            </div>
            <div id="bottomCard" class=" w-48 md:w-52 absolute z-0 rotate-10deg  origin-bottom-left" style="bottom: 50px; left: -40px;">
              <img src={cardBottom.src} alt=""> 
            </div> 
      </div>
</div>
    </div>
</div>
<div class="relative flex md:flex-row flex-col gap-24  mx-6 lg:mx-52 justify-between mb-24">

    <div class="relative flex  md:justify-end justify-start ">
        <a
          class="relative 
          flex hover:gap-8
          gap-2 
          transition-all
           w-max justify-center 
           items-center rounded-full border border-accent p-3 text-accent hover:bg-accent hover:border-accent hover:text-dark-color focus:outline-none focus:ring active:main-melon px-8"
          href="/"
        >
        <svg 
            class="size-5 rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="4"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            />
          </svg>
        <h1 class=" font-Alice text-3xl ">Home</h1>
        
          
        </a>
        </div>

    <div class="relative flex  md:justify-end justify-end ">
        <a
          class="relative 
          flex hover:gap-8
          gap-2 
          transition-all
           w-max justify-center 
           items-center rounded-full border border-accent p-3 text-accent hover:bg-accent hover:border-accent hover:text-dark-color focus:outline-none focus:ring active:main-melon px-8"
          href="/projects"
        >
        <h1 class=" font-Alice text-3xl ">Portfolio</h1>
        
          <svg 
            class="size-5 rtl:rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="4"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            />
          </svg>
        </a>
        </div>
        
</div>
</Layout>