---

import { getCollection } from 'astro:content';

import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Grid from "../components/Grid.astro";

import PortfolioPreview from '../components/PortfolioPreview.astro';

const projects = (await getCollection('work'))
	.sort((a: { data: { publishDate: number; }; }, b: { data: { publishDate: number; }; }) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);
---

<Layout title="Welcome to my portfolio web">
	<Intro />	

	<div class="relative flex flex-col  md:gap-20 gap-12 justify-center  mx-6 lg:mx-52 my-40">
		<h2 class="text-4xl md:text-5xl font-Alice text-left text-accent">Latest Projects</h2>
	
		  
		<div class="gallery">
			<Grid variant="offset">
				{
					projects.map((project: any) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</div>

	  
	<div class="relative flex  md:justify-end justify-center ">
	<a
	  class="relative 
	  flex hover:gap-8
	  gap-2 
	  transition-all
	   w-max justify-center 
	   items-center rounded-full border border-accent p-3 text-accent hover:bg-accent hover:border-accent hover:text-dark-color focus:outline-none focus:ring active:main-melon px-8"
	  href="/projects"
	>
	<h1 class=" font-Alice text-3xl ">Full portfolio</h1>
	
	  <svg 
		class="size-5 rtl:rotate-180"
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke="currentColor"
	  >
		<path
		  stroke-linecap="round"
		  stroke-linejoin="round"
		  stroke-width="4"
		  d="M14 5l7 7m0 0l-7 7m7-7H3"
		/>
	  </svg>
	</a>
	</div>
	  
	
	</div>

</Layout>

