---
import Layout from "../layouts/Layout.astro";
import CardProjects from "../components/card-projects.astro";
---


<Layout title="Projects gallery">
    <div class="relative flex flex-col  md:gap-20 gap-12 justify-center  mx-6 lg:mx-52 md:mb-40 md:-top-0 -top-24">
        <div class="relative flex flex-col gap-6 ">
        <h2 class="text-4xl md:text-5xl font-Alice text-left text-accent">My Work</h2>
        <p>Here are some of the design projects I've been involved with.</p>
        </div>
          
        <div>
            <CardProjects 
            href="work/onlyauth"
            img="assets/onlyauth/onlyauth_landing.png"
            title="Onlyauth"
            role="Web design | Illustration"
            txt="Design and creation of visual assets for the Website and Apple Store and Google Play Store, adhering to platform guidelines."/>
            
        </div>
      <div class="relative flex flex-col md:flex-row justify-center gap-12">
        <CardProjects
            href="work/skinwise"
            img="assets/skinwise/skinwise_0.png"
            title="SkinWise"
            role="UX/UI"
            txt="Mobile application dedicated to meet the demands of skincare in modern days."/>
    
        <CardProjects 
           href="work/drinks"
           img="assets/dco/dco_home.png"
           title="Drinks&Co"
           role="Web design"
           txt="Marketplace of wine and Spirits, that connects users with suppliers and brands."/>
      </div>
    
      <div>
        <CardProjects 
        href="work/coco"
        img="assets/cocobites/coco_home.png"
        title="Coco Bites"
        role="Branding"
        txt="Branding for a Vegan coffee shop that aims to cultivate a warm and welcoming atmosphere."/>
        
    </div>

    <div class="relative flex flex-col md:flex-row items-center justify-center gap-12">
        <CardProjects
            href="work/yuki"
            img="assets/yukiheadphone/yuki_home.png"
            title="Yuki Headphones"
            role="UI design"
            txt="UI design concept for a specialized app store that focuses on headphones."/>
    
        <CardProjects 
           href="work/motion"
           img="assets/Motion3D/fire.gif"
           title="Motion & 3D"
           role="Motion graphics"
           txt="Collection of different projects I have made for Motion Design, 2D and 3D "/>
      </div>

<!--
      <div>
        <CardProjects 
        href="work/american"
        img="assets/americanflyers/af1.png"
        title="American Flyers"
        role="Web | Social Media design"/>
        
    </div>

    <div class="relative flex flex-col md:flex-row items-center justify-center gap-12">
        <CardProjects
            href="work/giardino"
            img="assets/giardino/giardino.jpg"
            title="Giardino"
            role="Branding"/>
    
        <CardProjects 
           href="work/uzee"
           img="assets/uzee/uzee_1.png"
           title="Uzee Project"
           role="UX/UI"/>
      </div>
    <div class="relative flex  md:justify-end  justify-center">
        
    <a
      class="relative flex hover:gap-8 gap-2 transition-all w-max justify-center items-center rounded-full border border-accent p-3 text-accent hover:border-accent hover:bg-accent hover:text-dark-color focus:outline-none focus:ring active:accent px-8"
      href="/"
    >

    
      <svg 
        class="size-5 rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="4"
          d="M14 5l7 7m0 0l-7 7m7-7H3"
        />
      </svg>
      <h1 class="font-Alice text-3xl ">Back home</h1>
    </a>
    </div>
 -->
    
    
</Layout>