---


---

<div class="relative flex flex-col md:gap-20 gap-12 justify-center items-center mx-12 md:mt-44">
    <h1 class="md:text-5xl font-Lato md:w-60 text-center text-2xl leading-normal">I'm Carolina, a <span class="italic  text-main-melon">multidisciplinary and user-oriented creative web designer</span>, specializing in crafting captivating and intuitive designs.</h1>
    <svg class="fill-main-melon animate-bounce mt-12 md:mt-40" width="30" height="52" viewBox="0 0 30 52"  xmlns="http://www.w3.org/2000/svg">
        <path d="M12.2933 3.2913L12.2933 41.1799L4.83753 34.6002C3.57282 33.4652 1.66523 33.6962 0.65409 35.1151C-0.35641 36.5348 -0.18247 38.6052 1.08161 39.7402L13.1592 50.5946C13.6775 51.0609 14.3219 51.3151 14.9862 51.3151C15.6504 51.3151 16.2949 51.0609 16.8132 50.5946L28.9016 39.741C29.2453 39.4326 29.5226 39.0411 29.7128 38.5957C29.903 38.1502 30.0012 37.6624 30 37.1684C30.0001 36.4218 29.7733 35.6975 29.3571 35.1151C28.346 33.6962 26.562 33.4652 25.2973 34.6002L18.0275 41.1799L18.0275 3.2913C18.0275 1.47402 16.7794 1.44277e-05 15.1604 1.45079e-05C13.5415 1.4588e-05 12.2933 1.47402 12.2933 3.2913Z" />
          </svg>
          
  </div>

 




