---
import HeroProject from "../../components/workComponents/heroProject.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Drinks&Co">
    <HeroProject
    href="../../public/img/dco/dco_1.png"
    description1="Drinks&CoWine and Spirits marketplace that connect users, suppliers and brands, offering personalized recommendations, exclusive selection, offers and services to create a unique omnichannel experience around the world of beverages."
    description2="As a Web designer in the Design team my tasks involved from spearheading email marketing campaigns to highlight new products and special discounts, to creating captivating landing pages and home banners showcasing exclusive offers and diverse product ranges. Additionally, I strategically optimize our presence on social media platforms to elevate brand communication and product visibility, ensuring maximum impact and engagement."
    role="Web designer"
    tool1="Photoshop"
    tool2="Illustrator" 
    tool3="After Effects"
    time="3 Years"
    />

    <div class="relative flex flex-col items-center gap-12 mx-6 lg:mx-52 mb-24">
        <div >
            <img class="rounded-3xl hidden md:block" src="../../public/img/dco/dco_2b.png" alt="">
            <img class="rounded-3xl md:hidden" src="../../public/img/dco/dco_2c.png" alt="">
        </div>

        <div class="relative flex md:flex-row flex-col gap-12 justify-center items-center ">
            <div class="flex justify-center rounded-3xl">
                <img class="rounded-3xl" src="../../public/img/dco/dco_3b.png" alt="">
            </div>
            <div class="flex justify-center rounded-3xl">
              <img class="rounded-3xl " src="../../public/img/dco/dco_4.png" alt="">   
            </div>
          </div>

          <div >
            <img class="rounded-3xl hidden md:block" src="../../public/img/dco/dco_5.png" alt="">
            <img class="rounded-3xl md:hidden" src="../../public/img/dco/dco_5b.png" alt="">
        </div>
          

    </div>

    <div class="relative flex  md:justify-end justify-center mx-6 lg:mx-52 mb-24 ">
        <a
          class="relative 
          flex hover:gap-8
          gap-2 
          transition-all
           w-max justify-center 
           items-center rounded-full border border-accent p-3 text-accent hover:bg-accent hover:border-accent hover:text-dark-color focus:outline-none focus:ring active:main-melon px-8"
          href="/projects"
        >
        <h1 class=" font-Alice text-3xl ">Portfolio</h1>
          <svg 
            class="size-5 rtl:rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="4"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            />
          </svg>
        </a>
        </div>
    
</Layout>