---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Motion Graphics">
    <div class="relative flex flex-col items-center gap-24 mx-6 lg:mx-52 mb-32">
        <p>This are some small projects and excercises I have made for Motion Design and 3D.</p>
        
        <div class="relative flex flex-col items-center gap-12 ">
        <div >
            <img class="rounded-3xl hidden md:block " src="assets/Motion3D/hero_3D.png" alt="">
            <img class="rounded-3xl  md:hidden" src="assets/Motion3D/flower2_sq.png" alt="">
        </div>
        
        <div class="relative flex md:flex-row flex-col md:gap-12 gap-12 justify-center items-center ">
            <div class="flex justify-center rounded-3xl">
                <img class="rounded-3xl" src="assets/Motion3D/bird_sq.png" alt="">
            </div>
            <div class="flex justify-center rounded-3xl">
              <img class="rounded-3xl " src="assets/Motion3D/bear_sq.png" alt="">   
            </div>
          </div>

          <div class="relative flex md:flex-row flex-col md:gap-12 gap-12 justify-center items-center ">
            <div class="flex justify-center rounded-3xl">
                <img class="rounded-3xl" src="assets/Motion3D/tree_sq.png" alt="">
            </div>
            <div class="flex justify-center rounded-3xl">
              <img class="rounded-3xl " src="assets/Motion3D/flower_sq.png" alt="">   
            </div>
          </div>

          <div >
            <img class="rounded-3xl hidden md:block " src="assets/Motion3D/cream_pops_1.png" alt="">
            <img class="rounded-3xl  md:hidden" src="assets/Motion3D/cream_sq.png" alt="">
        </div>

        <div class="relative flex md:flex-row flex-col md:gap-12 gap-12 justify-center items-center ">
            <div class="flex justify-center rounded-3xl">
                <img class="rounded-3xl" src="assets/Motion3D/alarm_toggle.gif" alt="">
            </div>
            <div class="flex justify-center rounded-3xl">
              <img class="rounded-3xl " src="assets/Motion3D/send-button.gif" alt="">   
            </div>
          </div>

          <div class="relative flex md:flex-row flex-col md:gap-12 gap-12 justify-center items-center ">
            <div class="flex justify-center rounded-3xl">
                <img class="rounded-3xl" src="assets/Motion3D/reaction-tap.gif" alt="">
            </div>
            <div class="flex justify-center rounded-3xl">
              <img class="rounded-3xl " src="assets/Motion3D/menu_burger.gif" alt="">   
            </div>
          </div>     
         

          <div >
            <img class="rounded-3xl hidden md:block " src="assets/Motion3D/ghost-lg.gif" alt="">
            <img class="rounded-3xl  md:hidden" src="assets/Motion3D/ghost-aq.gif" alt="">
        </div>
        
        <div class="relative flex md:flex-row flex-col md:gap-12 gap-12 justify-center items-center ">
            <div class="flex justify-center rounded-3xl">
                <img class="rounded-3xl" src="assets/Motion3D/peacoock-sq.gif" alt="">
            </div>
            <div class="flex justify-center rounded-3xl">
              <img class="rounded-3xl " src="assets/Motion3D/fire_sq.gif" alt="">   
            </div>
          </div>     

        </div>
        
    </div>

    <div class="relative flex  md:justify-end justify-center mx-6 lg:mx-52 mb-24 ">
        <a
          class="relative 
          flex hover:gap-8
          gap-2 
          transition-all
           w-max justify-center 
           items-center rounded-full border border-accent p-3 text-accent hover:bg-accent hover:border-accent hover:text-dark-color focus:outline-none focus:ring active:main-melon px-8"
          href="/projects"
        >
        <h1 class=" font-Alice text-3xl ">Portfolio</h1>
          <svg 
            class="size-5 rtl:rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="4"
              d="M14 5l7 7m0 0l-7 7m7-7H3"
            />
          </svg>
        </a>
        </div>

</Layout>
