---
import HeroProject from "../../components/workComponents/heroProject.astro"
import Layout from "../../layouts/Layout.astro"
import LottieAnimation from "astro-integration-lottie/Lottie.astro";




---

<Layout title="OnlyAuth">
    <HeroProject
    href="assets/onlyauth/hero_1.png"
    description1="OnlyAuth, a leading Software as a Service (SaaS) provider, stands at the forefront of digital security solutions. Their commitment to security and user-friendly solutions has positioned them as a go-to choice for businesses seeking robust authentication methods."
    description2="Aimed to revitalize the digital presence of their web platform and extend the cohesive visual experience to the Apple Store and Google Play Store platforms. The focus of the project was a comprehensive refresh of visual assets, ensuring a harmonious and modern representation across all touchpoints."
    role="Web designer"
    tool1="Figma"
    tool2="Illustrator"
    tool3="Lottie" 
    time="2 Weeks"/>

    <div class="relative flex flex-col items-center gap-12 mx-6 lg:mx-52 mb-24">
        <div class="relative flex md:flex-row flex-col-reverse gap-12 md:gap-24 justify-center items-center ">
            <div class="flex justify-center rounded-3xl">
                <img class="w-80 " src="assets/onlyauth/icon_main_1.png" alt="">
            </div>
            <div>
              <h1 class="text-4xl font-Alice text-main-melon">Web Visual Assets</h1>    
            </div>
          </div>
          
          <div >
            <img class="rounded-3xl" src="assets/onlyauth/front-img.png" alt="">
          </div>
      
                

            <div class="relative flex md:flex-row flex-col gap-12 justify-center items-center ">
              <div class="flex justify-center rounded-3xl">
                  <img class="rounded-3xl" src="assets/onlyauth/icons_1.png" alt="">
              </div>
              <div class="flex justify-center rounded-3xl">
                <img class="rounded-3xl " src="assets/onlyauth/icons_2.png" alt="">   
              </div>
            </div>
            
          
            <div class="md:w-60 w-80">
              <LottieAnimation src="assets/onlyauth/Hero_animation_1.json" autoplay="visible" />
          </div>

          

            <div class="relative flex md:flex-row flex-col gap-12 justify-center items-center ">
              <div>
                <h1 class="text-4xl font-Alice text-main-melon">App visual assets</h1>    
              </div>
              <div class="flex justify-center rounded-3xl">
                  <img class="w-80 " src="assets/onlyauth/Social-Mediamockup.png" alt="">
              </div>
              
            </div>
           
            <div class="relative flex max-w-full md:flex-row flex-col  rounded-3xl gap-6">
              <div class="flex gap-6">
              <div class="rounded-3xl">
                <img class="rounded-3xl" src="assets/onlyauth/ios_1.png" alt="">
              </div>
              <div class=" rounded-3xl">
                <img class="rounded-3xl" src="assets/onlyauth/ios_2.png" alt="">
              </div>
            </div>
            <div class="flex gap-6">
              <div class=" rounded-3xl">
                <img class="rounded-3xl" src="assets/onlyauth/ios_3.png" alt="">
              </div>
              <div class=" rounded-3xl">
                <img class="rounded-3xl" src="assets/onlyauth/ios_4.png" alt="">
              </div>
            </div>
              
            </div>
          
    </div>
    <div class="relative flex  md:justify-end justify-center mx-6 lg:mx-52 mb-24 ">
      <a
        class="relative 
        flex hover:gap-8
        gap-2 
        transition-all
         w-max justify-center 
         items-center rounded-full border border-accent p-3 text-accent hover:bg-accent hover:border-accent hover:text-dark-color focus:outline-none focus:ring active:main-melon px-8"
        href="/projects"
      >
      <h1 class=" font-Alice text-3xl ">Portfolio</h1>
        <svg 
          class="size-5 rtl:rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
            d="M14 5l7 7m0 0l-7 7m7-7H3"
          />
        </svg>
      </a>
      </div>
    
</Layout>

<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>