---
import HeroProject from "../../components/workComponents/heroProject.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Yuki Headphones">
    <HeroProject
    href="assets/yukiheadphone/yuki_1.png"
    description1="The purpose of this exercise is to design a user-centered UI design concept for a specialized app store that focuses on headphones."
    description2="The ideal customer is Leo, a man in their early 30’s and is married with children. They are a high school graduate and run a large company. Leo lives in Malta, and si very familiar with your product."
    
    role="UI Designer"
    tool1="Figma"
    tool2="Illustrator" 
    time="2 Weeks"
    />

    <div class="relative flex flex-col items-center gap-24 mx-6 lg:mx-52 mb-32">
       
          <div class="flex flex-col justify-center items-center gap-4" >
            <h1 class="text-4xl font-Alice text-main-melon">Work Flow</h1>
            <p>It was required the design concept for the following workflow</p>
            <img class="rounded-3xl" src="assets/yukiheadphone/yuki_2.png" alt="">
          </div>
      
                
        
            <div class="relative flex  flex-col gap-12 justify-center items-center ">
                <h1 class="text-4xl font-Alice text-main-melon">Buttons & Icons</h1>
                
                <div class="relative flex flex-row md:gap-12 gap-0 justify-center items-center ">
              <div class="flex justify-center rounded-3xl">
                  <img class="rounded-3xl" src="assets/yukiheadphone/yuki_3.png" alt="">
              </div>
              <div class="flex justify-center rounded-3xl">
                <img class="rounded-3xl " src="assets/yukiheadphone/yuki_4.png" alt="">   
              </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center gap-12" >
            <h1 class="text-4xl font-Alice text-main-melon">Wireframes</h1>
            <img class="rounded-3xl " src="assets/yukiheadphone/yuki_5.png" alt="">
          </div>
          <div class="flex flex-col justify-center items-center gap-12" >
            <h1 class="text-4xl font-Alice text-main-melon">Final Design</h1>
            <img class="rounded-3xl " src="assets/yukiheadphone/yuki_6.png" alt="">
          </div>
        </div>



        <div class="relative flex  md:justify-end justify-center mx-6 lg:mx-52 mb-24 ">
            <a
              class="relative 
              flex hover:gap-8
              gap-2 
              transition-all
               w-max justify-center 
               items-center rounded-full border border-accent p-3 text-accent hover:bg-accent hover:border-accent hover:text-dark-color focus:outline-none focus:ring active:main-melon px-8"
              href="/projects"
            >
            <h1 class=" font-Alice text-3xl ">Portfolio</h1>
              <svg 
                class="size-5 rtl:rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="4"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"
                />
              </svg>
            </a>
            </div>
    
</Layout>